body {
    background-color: hsl(218, 23%, 16%);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
}

.card .advice-number {
    color: hsl(150, 100%, 66%);
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 10px;
}


.card .text {
    color: hsl(193, 38%, 86%);
    font-size: 22px;
    padding: 23px;
    text-align: center;
}

.card picture img {
    width: 100%;
}

.card .dice {
    background-color: hsl(150, 100%, 66%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transform: translateY(85%);
}

.card .dice:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}