@media (max-width: 650px) {
    .header {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        margin-top: 50px;
    }

    .menu li {
        padding: 33px;
    }

    .menu li a {
        font-size: 40px;
        padding: 17px 40px;
    }

    .menu li a.botao {
        font-size: 18px;
        padding: 15px 23px;
    }
}